body {
 font-family: Comic Sans MS; 
 background-color: black;
 text-color: black;
}

.container {
padding: 50px;
background-color: black;
max-width: 600px;
border: 2px solid blue;
text-color: black;
}

