body {
 font-family: Comic Sans MS; 
 background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
padding: 50px;
background-color: black;
max-width: 600px;
border: 2px solid blue;
color: white;
}

